body,
html {
  height: 100%;
}

body {
  font-family: "Montserrat";
  margin: 0;
  background-color: #f0f1f5;
  background-image: url("../img/casa.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body .bg {
  clip-path: polygon(0 0, 35% 0, 65% 100%, 0% 100%);
  background-color: #4a4e69;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}


main {
  color: black;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "card" "primary";
  align-items: start;
}

main section.card {
  grid-area: card;
  background-color: #b5b7ca;
  margin: 1em auto;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  width: 80%;
}

main section.card ul {
  list-style-type: none;
}
main section.card ul li {
  margin-bottom: 10px;
}
main section.card ul li .circulo {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #35384b;
  border-radius: 50%;
  margin-right: 10px;
}
main section.card ul li strong {
  display: inline-block;
  margin-left: 40px;
}
main section.primary {
  grid-area: primary;
  padding: 15px;
}

main section.primary h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 4em;
}

main section.primary p {
  font-size: 1.4em;
}

main section.primary a {
  background-color: #b5b7ca;
  color: black;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}



@media (min-width: 992px) {
  main section.primary a {
    display: inline-block;
    padding: 15px;
  }
 
    body .bg {
      clip-path: polygon(0 0, 65% 0, 35% 100%, 0% 100%);
    }

    main {
        display: grid;
        grid-template-columns: 70% auto;
        grid-template-rows: 100%;
        grid-template-areas: "primary card";
      }

    main section.card {
      align-self: flex-end;
      margin: 1em;
    }

    main section.primary h1 {
      font-size: 6em;
    }

    main section.primary {
      text-align: left;
      margin: 4em 0 0 4em;
    }

}


