.botonsitos{
    background-color: #35384b;
    border-color: #35384b;
    &:hover{
        transition: 1.5s;
        scale: 1.050;
        background-color: #35384b;
        border-color: #35384b;
    }
}