.primary {
  transition: 1s;
  grid-area: primary;
  padding: 15px;

    @include pc{
        text-align: left;
        margin: 4em 0 0 4em;
    }

    h1 {
    font-family: "Dancing Script", cursive;
    font-size: 5em;
    font-weight: 900;
    text-shadow: 10px 8px 15px #fff;
    @include pc {
      font-size: 6em;
      }
    }

    p {
    font-size: 1.4em;
    }

    a {
    background-color: #b5b7ca;
    color: black;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    @include pc {
        display: inline-block;
        padding: 15px;
    }
  }
}